/* TOPBAR - NAVBAR */
.btn {
  padding: .45rem 1.5rem .35rem;
}

.gradient-custom {
  /* fallback for old browsers */
  background: #c471f5;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(196, 113, 245, 1), rgba(250, 113, 205, 1));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(196, 113, 245, 1), rgba(250, 113, 205, 1))
}

.btn-first{
  border: none;
  border-radius:10%;
  box-shadow: 0 0 8px rgb(36, 35, 35);
  /* background-image: linear-gradient(to right top, #ee54be, #f63fa1, #f92a83, #f71664, #f01045); */
  background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}

section, header{
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.-navbadge{
  margin-right: auto;
  text-shadow:2px 2px 8px#000000;
}

.shadowhunter{
  border: none;
  box-shadow: 0 0 8px rgb(36, 35, 35);
}

.profile-photo{
  height: 45px;
  width: 45px;
  margin-right: 20px;
  border: none;
  box-shadow: 0 0 8px rgb(36, 35, 35);
}

.nav-link {
  margin-left: 10px;
  margin-right: 10px;
  display: block;
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
  font-size: var(--bs-nav-link-font-size);
  font-weight: var(--bs-nav-link-font-weight);
  /* color: var(--bs-nav-link-color); */
  color:rgb(0, 0, 0);
  text-decoration: none;
  background: 0 0;
  border: 0;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  color:#000000;
}

img.opacity {
  opacity: 1;
  border-radius: 10px;
  margin-top: 20%;
  margin-bottom: 20%;
}

.wrapper {
  background-color: rgb(255, 255, 255, 0.25);
}

.mainhead{
  /* font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 60px;
  color: crimson; */

  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 65px;
  letter-spacing: 2px;
  word-spacing: 2px;
  font-weight: 700;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  text-shadow: #000000;
  border: #000000;
  border-color: #000000;
  color: #e81e39;
  background-image: -webkit-linear-gradient(45deg, #e81e39 12%, #abb2bf 49%, #228af2 77%);
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}

.cardsize{
  height: 670px;
}